body{
    position: relative;
    width: 1440px;
    height: 1925px;
    background-color: #FFFFFF;
    border-radius: 67px;
    margin: 37px;
    align-content: center;
}

h1{
	width: 500px; margin: auto; text-align: center;
}
table{
	width: 500px; margin: auto;
}
footer{
	width: 100%;
	height: 1925px;
}